<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Magnet & Torrent Search - ØMagnet
	</title>

	<!-- Bootstrap core CSS -->
	<link href="/assets/css/bootstrap.purged.css" rel="stylesheet">
    <link href="/assets/css/app.css?v1.16" rel="stylesheet">
	<style>
	.input-search {margin: 10px 0 30px;}
	.sample {margin-top: 3px; color: #999; font-size: 0.8em; margin: 0;}
	.word,.link-more {display: inline-block; margin-top: 10px;}
	</style>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-44826011-1']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>

<body>

	<div class="container">
		<header class="header">
			<h3 class="header-brand text-muted"><a href="/"><span class="brand-zero">Ø</span>Magnet</a>
			</h3>
			<ul class="nav nav-border pull-right">
				<li class="active"><a href="/">Upload</a></li>
			</ul>
		</header>
		<form class="input-search" action="/search" method="GET">
			<div class="input-group">
				<input type="text" class="form-control" name="q" placeholder="Search for...">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit">Search</button>
				</span>
			</div>
		</form>

		<div style="margin-bottom:20px;">
			<h4><a href="/search/hot">Hot Searches</a> : </h4>
			{% for hotWord in hotWords %}
			<a href="/search?q={{hotWord | urlencode}}">{{hotWord}}</a>&nbsp;&nbsp;&nbsp;
			{% endfor %}
			<a class="link-more btn btn-info btn-sm" href="/search/hot">More⋯</a>
		</div>
		
		<div class="footer">
			<p class="pull-right" style="color: #aaa;font-size: 18px;font-weight: bold;"><span
					style="color:#428bca;">Ø</span>Magnet</p>
		</div>

	</div>
</body>

</html>